<div class="container">

  <h2>Dos carros bombas y hostigamientos hubo este fin se semana en el Valle y Cauca</h2>

  <img src="../../../../assets/img/news/new2.png" class="img-top py-4" alt="Noticia 2">

  <p>En Dagua atacaron una estación de Policía, mientras que en Cali se presentaron dos ataques con granadas.</p>
  <p>Una serie de ataques se han registrado este fin de semana en el Valle de Cauca y Cauca, que incluyen la explosión de dos carros bombas y de una granada en un CAI de la Policía, así como enfrentamientos en Dagua, que tienen atormentada a la población.</p>
  <p>Los primeros hechos se reportaron en los municipios de Suárez y Santander de Quilichao, donde en la madrugada del sábado 29 de julio explotaron dos carros bombas, en medio de enfrentamientos entre grupos armados. En Suárez, el vehículo estalló frente de la estación de Policía, lo que afectó la fachada de las viviendas aledañas.</p>
  <p>Media hora más tardes, sobre las 4:00 a. m. se reportó la explosión de otro carro, esta vez una camioneta junto a la estación de Policía del corregimiento de Mondomo, donde tampoco se registraron personas afectadas, pero sí afectaciones en viviendas cercanas.</p>
  <p>Por la noche, un ataque con una granada en el CAI en el barrio Alfonso Bonilla Aragón, en el que murió “Negro”, un perro que habían adoptado los uniformados hace unos años. Según testigos, sujetos en una moto habrían lanzado el explosivo.</p>
  <p>“Lastimosamente, sobre las 9:25 de la noche hemos sufrido un atentado terrorista, unos sujetos a bordo de una motocicleta Pulsar negra arrojaron una granada, al parecer de fragmentación, en el CAI del barrio Alfonso Bonilla Aragón. Gracias a Dios no tuvimos vidas humanas comprometidas, no tuvimos lesionados, no tuvimos mayor afectación a nuestra infraestructura. Lastimosamente, falleció un canino que estaba cerca a este CAI”, dijo el secretario de Seguridad de Cali, Jimmy Dranguet.</p>
    
</div>