<header class="newspaper-header fixed-top">
  <div class="logo">
    <img src="../../../assets/img/logo.png" alt="Periódico de Colombia">
  </div>
  <nav class="main-menu">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Noticias</a></li>
      <li><a href="#">Política</a></li>
      <li><a href="#">Economía</a></li>
      <li><a href="#">Deportes</a></li>
      <li><a href="#">Cultura</a></li>
      <li><a href="#">Opinión</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <div class="search-bar">
    <input type="text" placeholder="Buscar">
    <button>Buscar</button>
  </div>
</header>
