<div class="container">

  <h2>Rubén Blades le envió mensaje de apoyo al presidente Petro en concierto en Bogotá tras el escándalo con su hijo, ¿qué le dijo?</h2>
  <p>El hecho ocurrió en medio de su concierto en la capital del país, después de haberse presentado en Medellín.</p>

  <img src="../../../../assets/img/news/new3.jpg" class="img-top py-4" alt="Noticia 3">

  <p>Momentos de magia y buena música vivieron los habitantes en Bogotá con el concierto en el que estuvo el reconocido cantante de salsa Rubén Blades, realizado en el estadio Nemesio Camacho El Campín este 29 de julio.</p>
  <p>La noche de este sábado se llenó de júbilo y emoción al escuchar las mejores canciones del cantautor panameño, pero en el trascurso del concierto, un mensaje de aliento y apoyo se dejó escuchar en el escenario.</p>
  <p>Un momento de solidaridad se vivió en medio del concierto, <b>cuando el artista se encontraba cantando su canción llamada “Amor y control” del año 1992,</b> aprovechó la letra de la misma <b>para enviarle un mensaje de apoyo al presidente de Colombia, Gustavo Petro, por la situación que pasa con su hijo Nicolás Petro.</b></p>
  <p>Esto, tras confirmar su captura por parte de la Fiscalía, ya que se le acusa de lavado de activos y enriquecimiento ilícito.</p>
  <p>l momento del mensaje de Blades a Petro quedo inmortalizado en video por muchos de los asistentes al estadio. “A pesar de los problemas, familia es familia, PRESIDENTE y cariño es cariño”, expresó el cantante en medio de la canción.</p>
    
</div>