<div class="container">

  <h2>Bunny Benz: la perrita rescatada que volvió a caminar gracias a una “lujosa” silla de ruedas</h2>

  <img src="../../../../assets/img/news/new1.png" class="img-top py-4" alt="Noticia 1">

  <p>Bunny perdió sus patas traseras tras ser atropellada por un vehículo, luego la abandonaron.</p>
  <p>La lujosa marca de automóviles Mercedes Benz, tras conocer su historia, decidió darle una silla de ruedas a su
    medida para que pudiera volver a correr libremente.</p>
  <p>Casi que a diario se reportan distintos casos de maltrato y abandono animal. Muchos de estos perros o gatos
    resultan heridos o con algunas complicaciones de salud debido a las complejas condiciones a las que se tienen que
    enfrentar. Estas van desde comer algo envenenado hasta tener algún accidente tras ser atropellados en grandes
    autopistas o en zonas residenciales.</p>
  <p>Esto fue lo que le sucedió a Bunny, una perrita que fue rescatada en Ensenada, Baja California a principios de 2023
    por un grupo de animalistas, luego de conocer las precarias condiciones en las que vivía, pues, como consecuencia
    del accidente, había perdido sus patas traseras.</p>
  <p>Henry Friedman, un amante de los viajes que dedica su vida a ayudar a los animales, indicó que mientras la recogían
    en su casa, su dueño jugaba fútbol desinteresadamente sin prestar atención a sus heridas, por lo cual accedió sin
    problemas a que el viajero se llevara a la mascota para ver a un médico.</p>
  <p>“Regularmente, conocemos a perros en el peor día de sus vidas. Honestamente, no pensamos que ella fuera a
    sobrevivir”, comentó Henry, quien la llevó al veterinario y se encargó de cuidarla.</p>
    
</div>